<html>
    <head>
        <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
        
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto Slab">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Acme">
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Solway">
        <link rel="stylesheet" href="/assets/home2.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
     <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">        <title>Checkout</title>
    </head>
    <body>
            <div class="bodi">
                <nav class="navbar navbar-expand-lg  bg-llight">
                    <a class="navbar-brand" href="/"><img src="/assets/2.jpg" class="logo"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="mynavbar-toggler-icon">
                        <i class="fa fa-navicon" style="color:#fff; font-size:28px;"></i>
                      </span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                          <li class="nav-item">
                            <a class="nav-link" href="/#home">Menu</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/#feedback">Feedback</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/#contact2">Contact Us</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="/cart/#caart">
                              <i class="fa fa-shopping-cart fa-2x"></i>
                            </a>
                          </li>
                        </ul>
                        
            
                        
                        </div> 
                  </nav>
            
                  <div class="jumbotronn" >
                    <div class="container">
                    <h1 class="hh">Checkout </h1>
                    <p class="ii">We deliver the fresh and healthy pizza</p>
                </div>
                </div>
                <div class="fixed-action-btn">
                </div>
            </div>




            <section id="check">
<div class="container">
    <div class="row  bb">  
              
    <div class="col-md-6">
        <h1 class="hh">Enter your details</h1>
        <form>
        <div class="form-group">
            <div class="container">
        <div class="row">
            <div class="col-md-6">
            <label for="firstname">First Name</label>

            <input type="text" id="firstname"  required placeholder="First Name">
        </div>
        <div class="col-md-6">
            <label for="lastname">Last Name</label>
            <br>
            <input type="text" id="lastname"  required placeholder="Last Name">
            </div>
            </div>
        </div>
        </div>


        <div class="form-group">
            <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
         <div class="col-md-6">
                    <label for="addressf1">Address</label>
                    <br>
                    <input type="text" id="addresf1"  required placeholder="Address">
        </div>
        <div class="col-md-6">
            <label for="Landmark">Landmark</label>
            <br>
            <input type="text" id="Landmark"  required placeholder="Landmark">
</div>
        </div>
    </div>
        
       
            </div>
        </div>
        </div>
        
        <div class="form-group">
            <div class="container">
        <div class="row">
            <div class="col-md-6">
            <label for="city">Town/City</label>
            <br>
            <input type="text" id="city"  required placeholder="City">
        </div>

        <div class="col-md-6">
            <label for="postcode">Postcode/Zip</label>
            <br>    
            <input type="text" id="postcode"  required placeholder="Postcode/Zip">
            </div>
            </div>
        </div>
        </div>


        <div class="form-group">
            <div class="container">
        <div class="row">
            <div class="col-md-6">
                
                <label for="phone">Phone Number</label>
                <br>
                <input type="text" id="phone"  required placeholder="Phone Number">
        </div>
        <div class="col-md-6">
            <label for="email">Email Address</label>
            <br>    
            <input type="email" id="email"  required placeholder="Email">
            </div>
            </div>
        </div>
        </div>

    </form>

                </div>


                <div class="col-md-6 cc">
                <h1 class="hh">Bill Summary</h1>
                <h5 class="hh"><a href="/checkout">Pay in Dollars</a></h5>
                <h4 class="ik">Amount <%= total_price%> euros</h4>

                <% if(total_price>0){ %>
           
                    <h4 class="ik">Delivery Price <%= delivery_rate%> euros</h4>
                    <h4 class="ik">Total Amount <%= total%> euros</h4>

                    <% }else{ %>
                        <a href="/#home">Add elements to cart</a>
                        <% } %>
                <br><br>
                <div class="form-group">
                    <div class="heading pp">
                        <h5 class="hh">Payment Method</h5>
                        <div class="online">
                        <input class="ii" name="method" type="radio" value="Payment on delivery">
                        <span class="ii">Payment on delivery</span>
                    <img src="/assets/card-icons.da9c82eafa8008f928852e18d8af7b75.png" width="70" align="right">
                    </div>
                    <br>
                    <div class="online">
                        <input class="ii"  type="radio" name="method" value="Check Payment">
                        <span class="ii">Paytm</span>
                        <img src="/assets/paytm-512.png" width="50" align="right">
                    </div>
                    <br>
                        <div class="online">
                        <input class="ii"  type="radio" name="method" value="Check Payment">
                        <span class="ii">Check Payment</span>
                        <img src="/assets/download.png" width="50" align="right">
                    </div>

                    </div>
                </div>
                <div >
                    <button type="button" onclick="validate()" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalCenter">
                        Confirm Order
                      </button>
                            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                  <div class="modal-content">
                                    <div class="modal-header">
                                      <h5 class="modal-title" id="exampleModalLongTitle">Thank You</h5>
                                      
                                        <span aria-hidden="true">&times;</span>
                                      </button>
                                    </div>
                                    <div class="modal-body">
                                       Order Received
                                    </div>
                                    <div class="modal-footer">
                                    <a  class="btn btn-primary" href="/resetcart">Go Back</a> 
                                    </div>
                                  </div>
                                </div>
                              </div>
                </div>
                </div>
        </div>
    </div>
        </form>
      </section>
    <script>
      function validate(){
        
        var x=document.getElementById('firstname');
        var y=document.getElementById('lastname');
        var x1=document.getElementById('addresf1');
        var x2=document.getElementById('landmark');
        var x3=document.getElementById('city');
        var x4=document.getElementById('email');
        var x5=document.getElementById('phone');
        var x6=document.getElementById('postcode');
        if(x.value==''||x1.value==''||x2.value==''||x3.value==''||x4.value==' '||x5.value==' '||x6.value==' '||y.value==' '){
alert("Fill the form first");
window.location.reload(true)
        }
      }
    </script>

    </body>
</html>